
/* GLOBAL */

* {
    box-sizing: border-box;
}

html {
    color: var(--color-black);
    font-family: "FreeSans";
    font-size: 1rem;
    line-height: 1;
}

body {
    background-color: var(--color-white);
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
}

button:focus {
    outline: none;
}

.info-slide:hover, .info-slide:active{
   height:300px;
 }

:root {
  --color-black: #222222;
  --color-grey1: #444444;
  --color-grey1: #666666;
  --color-grey2: #666666;
  --color-grey3: #888888;
  --color-grey4: #DDDDDD;
  --color-green1: #2e8b57;
  --color-green1: #61a880; 
  --color-green2: #61a880; 
  --color-green3: #61a880; 
  --color-green3: #61a880; 
  --color-white: #EEEEEE;
}

a {
    color: var(--color-green1);
    text-decoration: none;
}


/* XXS */
@media all
and (max-width: 399px) {
    :root {
        --width: 12rem;
        --max: 300px;
        --height: 13px;
        --padding: 0.5px;
        --size1: 11px;
        --size2: 12px;
        --size3: 0.9rem;
    }

    #timeline { display: none; }
    #info { display: none !important; }
}

/* XS */
@media all
and (min-width: 400px) 
and (max-width: 575px) {
    :root {
        --width: 12rem;
        --max: 300px;
        --height: 13px;
        --padding: 0.5px;
        --size1: 11px;
        --size2: 12px;
        --size3: 0.9rem;
    }
    #timeline { display: none; }
    #info { display: none !important; }
}

/* SM */
@media all
and (min-width: 576px) 
and (max-width: 767px) 
{
    :root {
        --width: 12rem;
        --height: 1rem;
        --max: 300px;
        --padding: 1px;
        --size1: 11px;
        --size2: 0.9rem;
        --size3: 1.2rem;
    }
    #timeline { display: none; }
    #info { display: none !important; }
}

/* MD */
@media all
and (min-width: 768px) 
and (max-width: 991px) 
{
    :root {
        --width: 12rem;
        --height: 1rem;
        --max: 300px;
        --padding: 1px;
        --size1: 11px;
        --size2: 0.9rem;
        --size3: 1.2rem;
    }
    #timeline { display: none; }
    #info { display: none !important; }
}

/* LG */
@media all
and (min-width: 992px)
and (max-width: 1199px)
{
    :root {
        --width: 12rem;
        --height: 1.25rem;
        --max: 400px;
        --padding: 2px;
        --size1: 11px;
        --size2: 1.1rem;
        --size3: 1.6rem;
    }
    #timeline { display: none; }
}

/* XL */
@media all
and (min-width: 1200px)
{
    :root {
        --width: 12rem;
        --height: 1.25rem;
        --max: 500px;
        --padding: 2px;
        --size1: 11px;
        --size2: 1.1rem;
        --size3: 1.6rem;
    }
} 

/* DETAIL */

#detail {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    padding: 1rem 1rem 1rem 1rem;
    z-index: 100;

    border-bottom: 1px solid var(--color-black);
    background-color: var(--color-white);
}

#header {
    display: flex;
}

#title {
    flex-grow: 1;
    padding-right: 1rem;
}

#span {
    font-size: var(--size3);
    line-height: 1.2;
}


#info {
    width: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    font-size: var(--size1);
    line-height: 1.2;
}

#more {
    width: 1rem;
    padding-top: calc(var(--size3)/4);

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

    font-size: var(--size3);
    line-height: 1;
}

#more:hover {
    cursor: pointer;
}

[data-header="close"] #more:after {
    content: "↓";
}
[data-header="open"] #more:after {
    content: "↑";
}
[data-header="close"] #text {
    display: none;
}
[data-header="open"] #text {
    display: block;
}

[data-type="annee"] #text {
    display: none
}
[data-type="pays"] #text {
    display: none
}
[data-type="commune"] #text {
    display: none
}

#text {
    margin-top: 1rem;
    display: none;

    font-size: var(--size2);
    line-height: 1.4;
}

/*
#text span {
    padding: 0px 4px;

    border-radius: 1rem;

    color: var(--color-black);
    font-family: "FreeSans";
    font-size: var(--size2);
    line-height: 1.4;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    background-color: var(--color-green2);
    color: var(--color-white);
}
*/

#text span {
    height: var(--height);
    display: inline-block;
    padding: var(--padding) 4px 0px 4px;

    border-radius: 1rem;

    color: var(--color-black);
    font-family: "FreeSans";
    font-size: var(--size2);
    line-height: 1.0;
    vertical-align: text-bottom;

    max-width: var(--max);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    background-color: var(--color-green2);
    color: var(--color-white);
}

#text span:hover {
    cursor: pointer;
    /*
    background-color: var(--color-green1);
    color: var(--color-white);
    */
}

#text a {
    display: inline-block;
}

#text a:hover {
    text-decoration: underline;
}



/* INDEX */

#index {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;

    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(var(--width),1fr));
    grid-auto-rows: 0rem;
}

#index > .item > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    margin-bottom: 0rem;
}

#index > .item[data-type="annee"] > div {
    flex-direction: row;
    flex-wrap: wrap;
}

#index > .item[data-type="annee"] > div > button {
    margin-right: 8px;
}

#index > .item > div > h2 {
    width: 100%;
    display: block;
    font-family: "FreeSansBold";
    font-size: var(--size1);
    margin-bottom: 2px;
    line-height: var(--size1);
}

#index > .item > div > h2:after {
    content: " ("attr(data-counter)")";
}


button {
    max-width: 100%;
    height: 15px;
    padding: 0px 4px;
    margin-left: -4px;
    margin-top: 0px;
    margin-bottom: 1px;

    border-radius: 1rem;
    border: 1px solid var(--color-white);

    color: var(--color-black);
    font-family: "FreeSans";
    font-size: var(--size1);
    line-height: 1;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

button:hover {
    cursor: pointer;
}


button[data-state="1"] {
    background-color: var(--color-green1);
    color: var(--color-white);
    border: 1px solid  var(--color-green1);
    /*
    color: var(--color-green1);
    border: 1px solid  var(--color-green1);
    */
}

button[data-state="2"] {
    background-color: var(--color-green2);
    color: var(--color-white);
    border: 1px solid  var(--color-green2);
    /*
    color: var(--color-green1);
    border: 1px solid  var(--color-green1);
    */
}

button[data-state="3"] {
    background-color: var(--color-green3);
    color: var(--color-white);
    border: 1px solid  var(--color-green3);
    /*
    color: var(--color-green1);
    border: 1px solid  var(--color-green1);
    */
}

button[data-hover="1"] {
    background-color: var(--color-grey1);
    color: var(--color-white);
    border: 1px solid  var(--color-grey1);
    /*
    color: var(--color-grey1);
    border: 1px solid  var(--color-grey1);
    */
}

button[data-hover="2"] {
    background-color: var(--color-grey2);
    color: var(--color-white);
    border: 1px solid  var(--color-grey2);
    /*
    color: var(--color-grey1);
    border: 1px solid  var(--color-grey1);
    */
}




/* TIMELINE */
#timeline {
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;

    font-family: "FreeSans";
    font-weight: normal;
    font-size: var(--size1);
    line-height: calc(var(--size1) + 0.0rem);
}

#expositions > div {
    height: 1rem;
    display: flex;
}

#expositions > div > div:first-child {
    width: var(--width);
    padding-left: 16px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#expositions > div:hover {
    cursor: pointer;
}

#expositions > div:hover > div:first-child {
    overflow: visible;
}

#expositions > div > div:last-child {
    position: relative;
    flex-grow: 1;
}

#expositions > div > div:last-child > div {
    height: 1rem;
    width: 1rem;
    position: absolute;
    background-color: var(--color-grey3);
}

#expositions > div > div:last-child > div:hover {
    background-color: var(--color-grey1);
    z-index: 10;
}

#expositions > div[data-state="1"] > div:first-child > button {
    border: 1px solid var(--color-green1);
    background-color: var(--color-green1);
    color: var(--color-white);
    /*
    border: 1px solid var(--color-green1);
    color: var(--color-green1);
    */
}

#expositions > div[data-state="2"] > div:first-child > button {
    border: 1px solid var(--color-green2);
    background-color: var(--color-green2);
    color: var(--color-white);
    /*
    border: 1px solid var(--color-green1);
    color: var(--color-green1);
    */
}

#expositions > div[data-state="3"] > div:first-child > button {
    border: 1px solid var(--color-green3);
    background-color: var(--color-green3);
    color: var(--color-white);
    /*
    border: 1px solid var(--color-green1);
    color: var(--color-green1);
    */
}

#expositions > div[data-hover="1"] > div:first-child > button {
    background-color: var(--color-grey1);
    color: var(--color-white);
    border: 1px solid var(--color-grey1);
    /*
    border: 1px solid var(--color-grey1);
    color: var(--color-grey1);
    */
}

#expositions > div[data-hover="2"] > div:first-child > button {
    background-color: var(--color-grey2);
    color: var(--color-white);
    border: 1px solid var(--color-grey2);
    /*
    border: 1px solid var(--color-grey1);
    color: var(--color-grey1);
    */
}

#expositions > div[data-state="1"] {
    background-color: var(--color-grey4);
}

#expositions > div[data-state="2"] {
    background-color: var(--color-grey4);
}

#expositions > div[data-state="3"] {
    background-color: var(--color-grey4);
}

#expositions > div[data-hover="1"] {
    background-color: var(--color-grey4);
}

#expositions > div[data-hover="2"] {
    background-color: var(--color-grey4);
}


#annees {
    width: 100%;
    height: 1rem;
    padding-left: var(--width);

    display: flex;
    
}

#annees > div {
    position: static;
    flex-grow: 1;

    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}

#annees > div:first-child {
    border-left: 0px;
}

/* COLOPHON */

#colophon {
    margin: 1rem;
    font-size: var(--size1);
}
